<footer class="footer-container d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center footer">
            <div class="col-md-4 text-center text-md-left order-md-1 order-2">
                <div class="footer-social">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1109320711&site=qq&menu=yes"><i class="fa fa-qq"></i></a>
                    <a target="_blank" href="https://github.com/TuGe7025"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-weixin"></i></a>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center order-md-2 order-1">
                <a href="/home"><img src="/images/logo.png" alt="" class="img-fluid"></a>
            </div>
            <div class="col-md-4 order-md-3 order-3">
                <div class="footer-cradit text-center text-md-right">
                    <p>© 2020 <a href="#">Themelooks.</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>