<header class="header">
    <div class="header-fixed">
        <div class="container-fluid pl-120 pr-120 position-relative">
            <div class="row d-flex align-items-center">
                <div class="col-lg-3 col-md-4 col-6">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#"><img src="/images/logo.png" alt="" class="img-fluid"></a> 
                    </div>
                    <!-- End of Logo -->
                </div>

                <div class="col-lg-9 col-md-8 col-6 d-flex justify-content-end position-static">
                    <!-- Nav Menu -->
                    <div class="nav-menu-cover">
                        <ul class="nav nav-menu">
                            <li><a href="/home">首页</a></li>
                            <li class="menu-item-has-children"><a href="#">分类目录</a>
                                <ul class="sub-menu">
                                    <li><a href="/home/blogList">最新所有</a></li>
                                    <li><a href="blog-details-full-width.html">帖子</a></li>
                                    <li><a href="blog-details-video.html">视频</a></li>
                                    <li><a href="blog-details-audio.html">音频</a></li>
                                    <li><a href="blog-details-audio.html">相册</a></li>
                                </ul>
                            </li>
                            <li><a href="/home/contarct">联系</a></li>
                            <li><a href="about.html">关于</a></li>
                        </ul>
                    </div>
                    <!-- End of Nav Menu -->

                    <!-- Mobile Menu -->
                    <div class="mobile-menu-cover">
                        <ul class="nav mobile-nav-menu">
                            <li class="search-toggle-open">
                                <img src="/assets/images/search-icon.svg" alt="" class="img-fluid svg">
                            </li>
                            <li class="search-toggle-close hide">
                                <img src="/assets/images/close.svg" alt="" class="img-fluid">
                            </li>
                            <li class="nav-menu-toggle">
                                <img src="/assets/images/menu-toggler.svg" alt="" class="img-fluid svg">
                            </li>
                        </ul>
                    </div>
                    <!-- End of Mobile Menu -->
                </div>
            </div>
        </div>
    </div>
</header>