<section class="newsletter-cover">
    <!-- Overlay -->
    <div class="nl-bg-ol"></div>
    <div class="container">
        <div class="newsletter pt-80 pb-80">
        <!-- Section title -->
        <div class="section-title text-center">
            <h2>订阅我的发布</h2>
        </div>
        <!-- End of Section title -->
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <!-- Newsletter Form -->
                    <form action="subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d" method="post" novalidate="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="输入您的电子邮件">
                            <div class="input-group-append">
                                <button class="btn btn-default">提交</button>
                            </div>
                        </div>
                        <p class="checkbox-cover d-flex justify-content-center">
                            <label> 我同意<a href="#">隐私权政策 </a>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </p>
                    </form>
                    <!-- End of Newsletter Form -->
                </div>
            </div>
        </div>
    </div>
</section>